
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.header-section, .main-section{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
}
nav ul li img{
    width: 24px;
    height: 24px;
}
#item-1{
    color: #252432;
}
#item-2, #item-3{
    color: #8987A1;
}

/* banner section */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #E95A08;
}
#always{
    color: black;
}
.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.banner-image {
    width: 570px;
    height: 355px;
}


/* card-section */
.card-image{
    width: 270px;
    height: 320px;
}
.plant-title{
    font-weight: 700;
    font-size: 3.125rem;
}
#our{
    color: #E95A08;
}
.plant-des{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.btn{
    background-color: #E95A08;
    color: white;
    font-size: 1rem;
    border: none;
    width: 270px;
    height: 50px;
    padding: 26px 50px;
}
.card-name{
    margin-left: 75px;
}
.card-price{
    margin-left: 100px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    margin-top: 50px;
}
.plant-section{
    text-align: center;
    margin-top: 100px;
}

/* plant lover section */
.plant-lover-section{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}
.flower-store{
    position: relative;
    z-index: 1;
}
.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    z-index: 2;
    top: 75px;
    right: 75px;
    transform: translate(-130%, -75%);
    
}


.plant-lover-section img{
   /* max-width: 540px;
   width: 100%;
   height: auto; */
   width: 540px;
   height: 600px;
   margin-right: 100px;
}
.plant-lover-title{
    font-weight: 700;
    font-size: 3.125rem;
}
.plant-lover-list li{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    margin-top: 20px;
}
.plant-lover-list{
    gap: 20px;
}

/* latest deal section */
.image-box{
    display: flex;
    gap: 50px;
}
.dbl-img{
    gap: 20px;
}
#image-1, #image-2, #image-3{
    border-radius: 14px;
}
#image-2{
    margin-top: 25px;
}
.child-1 p, .child-2 p, .child-3 p{
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
}
.child-3 p{
    font-size: 2.5rem;
    justify-items: center;
    
}

.parent-1, .parent-2, .parent-3{
    position: relative;
    display: inline-block;
}
.parent-1 a, .parent-2 a, .parent-3 a{
    color: white;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 50px;
}
.parent-3 a{
    font-size: 1.7rem;
}
.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  border-radius: 14px;
}
.child-1, .child-2, .child-3{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.deal-heading{
    font-weight: 700;
    font-size: 3.125rem;
    text-align: center;
    margin-top: 100px;
}
#latest{
    color: #E95A08;
}
.deal-details{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    text-align: center;
    margin-bottom: 75px;
    margin-top: 1rem;
}

/* Join now section */
.massage{
    font-weight: 700;
    color: white;
    font-size: 3.125rem;
}
.join-now{
    background-image: url('/assets/news-letter-bg.png');
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    height: 533px;
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.join-form input{
     padding: 0.8rem 1rem;
    border: none;
    font-size: 1rem;
    flex: 1;
    max-width: 830px;
    width: 70%;
}
.join-form button{
    background-color: #E95A08;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/* Footer Section */
.footer-section{
    display: flex;
    gap: 100px;
    max-width: 1140px;
    width: 100%;
    
    margin: 0 auto;
}
 .footer-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
.footer-logo{
    max-width: 135px;
    width: 100%;
    height: auto;
}
.footer-2 ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.footer-2 ul li{
    color: rgba(107, 114, 128, 1);
    font-size: 1.25rem;
}

.footer-3 img{
    margin-right: 20px;
   
}
.footer-logo{margin-bottom: 20px;}


/* responsive website-smaller device */
@media screen and (max-width:576px) {
    .navbar #item-1, #item-2, #item-3{
        display: none;
    }
   
    
    
    
   
    
    .banner{
        flex-direction: column-reverse;
        
    }
    .banner-image{
        
        width: 100%;
        height: auto;
       
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .banner-description{
        font-size: 0.875rem;
    }
    .banner-details{
        width: 100%;
        margin-top: 20px;
        text-align: ;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-image{
        width: 100%;
        height: auto;
        display: block;
    }
    .plant-lover-section{
        flex-direction: column;
    }
    .badge{
        display: none;
    }
    .plant-lover-section img{
        width: 100%;
        height: auto;
    }
    .image-box{
        flex-direction: column;
    }
    #image-3{
        width: 100%;
        height: auto;
        max-width: 500px;
    }
    .join-now{
        width: 100%;
        height: auto;
    }
    .massage{
        font-size: 1.25rem;
    }
    .join-form{
        width: 100%;
        height: auto;
    }

    .footer-section{
        flex-direction: column;
        margin-left: 20px;
    }
    .footer-2 ul{
        grid-template-columns: 1fr;
    }
    .footer-3 img{
        display: block;
    }
   
}